@font-face {
  font-family: "Ubuntu";
  font-style: bold;
  font-weight: 700;
  src: local("Ubuntu-Bold"), url("./fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: medium;
  font-weight: 500;
  src: local("Ubuntu-Medium"),
    url("./fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: regular;
  font-weight: 400;
  src: local("Ubuntu-Regular"),
    url("./fonts/Ubuntu-Regular.ttf") format("truetype");
}
